@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat";
    background-image: url(/background.png);
    color: white;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.title{
    text-align: center;
    margin-top: 5rem;
    font-size: 4rem;
    color: white;
}
.subtitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    
    margin-top: 2rem;
    margin-bottom: 4.5rem;
}   
.energy{
    width: 25%;
    height: 50vh;
    background-color: rgba(255, 214, 0, 1);
    border-radius: 55px;
}
.energy h2{
    font-size: 4.5rem;
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
}
.energy #energy{
    font-size: 5rem;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    width: 100px;
    display: block;
    margin-inline: auto;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}
.energy h3{
    margin-top: 7rem;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    
}
.cards{
    width: 25%;
    height: 50vh;
    background-color: rgba(226, 113, 113, 1);
    border-radius: 55px;
}
.cards h2{
    font-size: 4.5rem;
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
}
.cards #cards{
    width: 100px;
    display: block;
    margin-inline: auto;
    font-size: 5rem;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}
.cards h3{
    margin-top: 7rem;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.zeroCost{
    margin-top: 12.3rem;
    width: 15%;
    height: 30vh;
    background-color: rgba(223, 124, 69, 1);
    border-radius: 40px;
}
.zeroCost h2{
    margin-top: 3rem;
    font-size: 2rem;
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
}
.zeroCost h3{
    margin-top: 6rem;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.buttons{
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    margin-top: 4.5rem;
    color: black;
    text-align: center;
}
.minus{
    font-size: 5rem;
    font-family: "Montserrat";
    font-weight: bold;
    width:100px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
}
.add{
    font-size: 5rem;
    font-family: "Montserrat";
    font-weight: bold;
    width:100px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
}
.subs{
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: bold;
    width:70px;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}
.adds{
    text-align: center;
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: bold;
    width:70px;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline: none;
}